@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}
* {
    box-sizing: border-box;
}
/* nav a.router-link-exact-active {
  color: var(--color-text);
} */